<header class="mdl-layout__header">

  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title" id="js-title" onclick="location.href='/'">{{ site.title }}</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    
  </div>
</header>
{% include search_result.html %}
    

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    {% for page in site.pages %} {% if page.title %}
    <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %} {% endfor %}
  </nav>
  

</div>
