//
// Styles for post
//

.post-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #DDDDDD;
  flex-shrink: 0;
}

.post-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  .post-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
  }

  .post-section {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;

    h3 {
      margin-top: 48px;
    }
  }

  .post-content {
    img {
      width: 100%;
      height: auto;
    }
  }
}



@media (max-width: 479px) {
  .post-main {
    margin-top: -42vh;
    .post-container{
      width:unset;
      padding: unset;
    }
    .post-section{
      width:100%;
      padding: 40px 20px;   
      margin: unset;   
    }
  }

  figure {
    margin: 0;
  }
}